@import "includes/mixins";

$headerHeight: 60px;

.d-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  width: 100%;
  backdrop-filter: saturate(100%) blur(5px);
  transform: translateZ(0px);
  background-color: rgba(var(--header_background-rgb), 0.75);
  box-shadow: none;
}
