.btn {
  border: none;
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-size: 12.25px;
  line-height: 20px;
}

.btn-icon-text,
.btn-text,
.btn-default {
  padding: 10px 24px;
}

.btn-icon {
  width: 40px;
  height: 40px;
}

.content-languages-dropdown {
  .btn {
    width: 40px;
    height: 40px;
    border: none;
    justify-content: center;
    padding: 0 !important;

    .select-kit-header-wrapper {
      justify-content: center;
    }
  }
}