.btn {
  border: none;
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-size: 12.25px;
  line-height: 20px;
}

.btn-icon-text {
  padding: 10px 24px;
}

.btn-text {
  padding: 10px 24px;
}