@import "mq";

.--desktop {
    @include mq($until: medium) {
        display: none !important;
    }
}

.--mobile {
    @include mq($from: medium) {
        display: none !important;
    }
}

.--expanded-only {
    @include mq($until: expanded) {
        display: none !important;
    }
}

.--expanded-upto {
    @include mq($from: expanded) {
        display: none !important;
    }
}

.--hidden, [hidden] {
    display: none !important;
}

[disabled] {
    opacity: 0.8;
    pointer-events: none;
    filter: grayscale(1);
    user-select: none;
}
